<h1>Empleats</h1>

<p *ngIf="!(empleats$ | async)"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">New empleat</a>
</p>

<table class="table table-sm table-hover" *ngIf="(empleats$ | async)?.length>0">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Cognom</th>
      <th>Càrrec</th>
      <th>Sou</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Empleats of (empleats$ | async)">
      <td>{{ Empleats.id }}</td>
      <td><a [routerLink]="['/Empleats/', Empleats.id]">{{ Empleats.nom }}</a></td>
      <td>{{ Empleats.cognom }}</td>
      <td>{{ Empleats.carrec }}</td>
      <td>{{ Empleats.sou }}</td>
      <td><a [routerLink]="['/Empleats/edit/', Empleats.id]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="delete(Empleats.id)" class="btn btn-danger btn-sm float-right">Delete</a></td>
    </tr>
  </tbody>
</table>
